<template>
  <div>
    <div>
      <slot/>
    </div>
  </div>
  <loader/>
</template>


<script setup>
import {reactive, provide} from 'vue';
import {ELanguages} from "@/ts/enums";
import {useI18n} from 'vue-i18n';
import Loader from "@/components/Loader.vue";

const {locale} = useI18n();

const userSettings = reactive({language: ELanguages.RU});

async function changeLanguage(event) {
  locale.value = event.target.value;
}

provide('userSettings', userSettings)
provide('changeLanguage', changeLanguage)
</script>