<template>
  <v-app :theme="userSettings.theme">
    <layout-main-header-mobile/>
    <layout-main-header-p-c/>
    <v-main>
      <v-container>
        <slot/>
      </v-container>
    </v-main>
  </v-app>
  <loader/>
</template>


<script setup>
import {reactive, provide} from 'vue'
import LayoutMainHeaderMobile from "@/components/layouts/main/header/LayoutMainHeaderMobile.vue";
import LayoutMainHeaderPC from "@/components/layouts/main/header/LayoutMainHeaderPC.vue";
import {ELanguages, EThemes} from "@/ts/enums";
import {useI18n} from 'vue-i18n';
import Loader from "@/components/Loader.vue";

const {locale} = useI18n()

const userSettings = reactive({theme: EThemes.LIGHT, language: ELanguages.RU});

function changeTheme() {
  userSettings.theme = userSettings.theme === EThemes.LIGHT ? EThemes.DARK : EThemes.LIGHT;
}

async function changeLanguage(event) {
  locale.value = event.target.value;
}

provide('userSettings', userSettings)
provide('changeTheme', changeTheme)
provide('changeLanguage', changeLanguage)
</script>