<template>
  <div class="mb-5 text-h5">{{ $t(title) }}</div>
  <v-form ref="form" @submit.prevent="submit">
    <slot name="fields"/>
    <v-btn class="me-4" type="submit">
      {{ $t(btnTitle) }}
    </v-btn>
  </v-form>
</template>

<script setup lang="ts">
import {computed, ref} from "vue";

const props = defineProps({
  title: {
    type: String,
    required: true
  },
  btnTitle: {
    type: String,
    required: true
  },
  submit: {
    type: Function,
    required: true
  },
})

const title = computed(() => props.title);
const btnTitle = computed(() => props.btnTitle);
const submit = computed(() => props.submit);

const form = ref(null);

defineExpose({form});
</script>