<template>
  <item-form ref="itemFormRef" title="main.creation" btn-title="actions.create" :submit="submit">
    <template #fields>
      <v-text-field
          v-model="item.name"
          :rules="nameRules"
          :label="$t('main.title')"
          required
      />
      <v-file-input
          v-model="item.photoFile"
          @change="changePhoto"
          accept="image/*"
          :label="$t('main.photo')"
      />
      <v-img
          v-if="item.photo"
          :src="item.photo"
          height="125"
          class="bg-grey-lighten-2"
      />
    </template>
  </item-form>
</template>


<script setup lang="ts">
import useItemFormCreate from "@/composition/useItemFormCreate";
import {ref} from "vue";
import type {TItemFormRef} from "@/ts/types";
import {HTMLInputEvent} from "@/ts/interfaces";

const itemFormRef = ref<TItemFormRef>(null);
const emit = defineEmits(['close']);
const itemFormCreate = useItemFormCreate(emit);
const {item, store, nameRules, ItemForm} = itemFormCreate;
const changePhoto = (event: HTMLInputEvent) => itemFormCreate.changePhoto(item, event);
const submit = () => itemFormCreate.submit(item, itemFormRef, store.add, store.addLocale);
</script>