<template>
  <v-dialog v-model="visible" width="auto" min-width="340px">
    <v-card class="pa-10">
      <slot name="content"/>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import {computed} from 'vue';

const emit = defineEmits(['close']);
const props = defineProps({
  visible: {
    type: Boolean,
    required: true
  }
})
const visible = computed({
  get() {
    return props.visible;
  },
  set() {
    emit('close', false);
  }
})
</script>

