<template>
  <item-form ref="itemFormRef" title="main.editing" btn-title="actions.edit" :submit="submit">
    <template #fields>
      <v-text-field
          v-model="item.name"
          :rules="nameRules"
          :label="$t('main.title')"
          required
      />
      <v-file-input
          v-model="item.photoFile"
          @change="changePhoto"
          accept="image/*"
          :label="$t('main.photo')"
      />
      <v-img
          v-if="item.photo"
          :src="item.photo"
          height="125"
          class="bg-grey-lighten-2"
      />
      <v-checkbox
          v-model="item.inArchive"
          :label="$t('main.inArchive')"
          type="checkbox"
      />
    </template>
  </item-form>
</template>

<script setup lang="ts">
import {ref} from "vue";
import type {TItemFormRef} from "@/ts/types";
import {HTMLInputEvent} from "@/ts/interfaces";
import useItemFormEdit from "@/composition/useItemFormEdit";

const itemProp = defineProps<{ itemId: number }>();
const itemFormRef = ref<TItemFormRef>(null);
const emit = defineEmits(['close']);
const itemFormEdit = useItemFormEdit(emit, itemProp);
const {item, store, nameRules, ItemForm} = itemFormEdit;
const changePhoto = (event: HTMLInputEvent) => itemFormEdit.changePhoto(item, event);
const submit = () => itemFormEdit.submit(item, itemFormRef, store.edit, store.editLocale, false);
</script>