<template>
  <v-table :class="$style['items-list']">
    <thead>
    <tr>
      <th class="text-left">
        {{ $t('main.photo') }}
      </th>
      <th class="text-left">
        {{ $t('main.title') }}
      </th>
      <th class="text-left">
        {{ $t('main.actions') }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in list" :key="item.name">
      <td class="pa-3">
        <div>
          <img :src="image(item)"/>
        </div>
      </td>
      <td>
        {{ item.name }}
      </td>
      <td>
        <slot name="btns" :item="item"/>
      </td>
    </tr>
    </tbody>
  </v-table>
</template>

<script setup lang="ts">
import type {IItem} from "@/ts/interfaces";
import {computed} from "vue";

const props = defineProps<{ list: IItem[] }>();
const list = computed(() => props.list);

function image(item: IItem) {
  return item.photo ? item.photo : new URL('@/assets/default.jpg', import.meta.url).href;
}
</script>

<style module scoped lang="scss">
.items-list {
  table {
    table-layout: fixed;
  }

  td {
    word-break: break-word;

    &:first-child {
      width: 100px;

      img {
        max-width: 50px;
        height: 100%;
        display: inherit;
      }
    }

    &:nth-child(2) {
      width: 300px;
    }
  }
}
</style>