<template>
  <layout-main>
    <v-alert>{{ $t('archive.hint') }}</v-alert>
    <item-list :list="store.itemsArchiveList">
      <template #btns="{ item }">
        <v-btn @click="store.unarchive(item)" color="secondary">{{ $t('actions.unarchive') }}</v-btn>
      </template>
    </item-list>
  </layout-main>
</template>

<script setup lang="ts">
import LayoutMain from "@/components/layouts/main/LayoutMain.vue";
import ItemList from "@/components/item/ItemList.vue";
import {usItemsStore} from "@/stores/items";

const store = usItemsStore();
</script>