<template>
  <layout-main>
    <v-btn @click="visibleFormCreate = true" class="mr-4" color="primary">{{ $t('actions.create') }}</v-btn>
    <item-list :list="store.itemsList">
      <template #btns="{ item }">
        <v-btn @click="modalItemId = item.id" class="mr-4" color="primary">{{ $t('actions.edit') }}</v-btn>
        <v-btn @click="store.archive(item)" color="secondary">{{ $t('actions.archive') }}</v-btn>
      </template>
    </item-list>
  </layout-main>
  <item-list-dialog :visible="visibleFormCreate" @close="closeFormCreate">
    <template #content>
      <item-form-create @close="closeFormCreate"/>
    </template>
  </item-list-dialog>
  <item-list-dialog :visible="Boolean(modalItemId)" @close="closeFormEdit">
    <template #content>
      <item-form-edit @close="closeFormEdit" :itemId="modalItemId"/>
    </template>
  </item-list-dialog>
</template>

<script setup lang="ts">
import LayoutMain from "@/components/layouts/main/LayoutMain.vue";
import ItemList from "@/components/item/ItemList.vue";
import {usItemsStore} from "@/stores/items";
import {ref} from "vue";
import ItemListDialog from "@/components/item/ItemListDialog.vue";
import ItemFormCreate from "@/components/item/ItemFormCreate.vue";
import ItemFormEdit from "@/components/item/ItemFormEdit.vue";

const store = usItemsStore();

const modalItemId = ref(0);
const visibleFormCreate = ref(false);

const closeFormCreate = () => {
  visibleFormCreate.value = false;
};

const closeFormEdit = () => {
  modalItemId.value = 0;
};
</script>