<template>
  <layout-easy>
    <div class="d-md-flex align-center">
      <RouterLink v-for="link in links" :to="link.path" custom v-slot="{ navigate }">
        <div class="mr-md-4" @click="navigate">{{ link.title }}</div>
      </RouterLink>
    </div>
  </layout-easy>
</template>

<script setup lang="ts">
import LayoutEasy from "@/components/layouts/easy/LayoutEasy.vue";
import {computed} from "vue";
import {useI18n} from "vue-i18n";
import {usItemsStore} from "@/stores/items";
const store = usItemsStore();
const createLink = (title: string, path: string, count: number) => ({title: t(`head.${title}`, {count}), path});
const {t} = useI18n();
const links = computed(() => [
  createLink('items', '/', store.itemsCount),
  createLink('archive', '/archive', store.itemsArchiveCount),
]);
</script>