<template>
  <div class="main-header-container w-100">
    <v-container class="d-md-flex justify-space-between">
      <div class="d-md-flex align-center">
        <v-btn :icon="themeIcon" @click="changeTheme" class="mr-md-4"/>

        <i18n-t keypath="theme.theme" scope="global" tag="div" class="mt-4 mt-md-0 mr-md-4">
          <template v-slot:theme>
            <b>{{ $t(theme) }}</b>
          </template>
        </i18n-t>

        <div class="locale-changer">
          <select v-model="$i18n.locale" @change="changeLanguage">
            <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{
                locale
              }}
            </option>
          </select>
        </div>
      </div>

      <div class="d-md-flex align-center">
        <RouterLink v-for="link in links" :to="link.path" custom v-slot="{ navigate }">
          <div class="mr-md-4" @click="navigate">{{ link.title }}</div>
        </RouterLink>
      </div>
    </v-container>
  </div>
</template>

<script setup lang="ts">
import {computed, inject} from 'vue'
import {EThemes} from "@/ts/enums";
import {useI18n} from 'vue-i18n';
import {usItemsStore} from "@/stores/items";
import type {IUserSettings} from "@/ts/interfaces";

const store = usItemsStore();

const {t} = useI18n()

const userSettings = inject<IUserSettings>('userSettings')
const changeTheme = inject('changeTheme')
const changeLanguage = inject('changeLanguage')

const themeIcon = computed(() => userSettings?.theme === EThemes.LIGHT ? 'mdi-weather-night' : 'mdi-weather-sunny');

const theme = computed(() => t('theme.' + userSettings?.theme));

const createLink = (title: string, path: string, count: number) => ({title: t(`head.${title}`, {count}), path})
const links = computed(() => [
  createLink('items', '/', store.itemsCount),
  createLink('archive', '/archive', store.itemsArchiveCount),
]);
</script>