<template>
  <div class="d-md-none">
    <div class="main-header-container w-100">
      <v-container class="">
        <v-btn icon="mdi-dots-vertical" @click.stop="drawer = !drawer"/>
        <v-navigation-drawer
            v-model="drawer"
            temporary
        >
          <layout-main-header-elements/>
        </v-navigation-drawer>
      </v-container>
    </div>
  </div>
</template>

<script setup lang="ts">
import LayoutMainHeaderElements from "@/components/layouts/main/header/LayoutMainHeaderElements.vue";
import {ref} from 'vue';

const drawer = ref(false)
</script>