<template>
  <div class="d-none d-md-flex">
    <layout-main-header-elements/>
  </div>
</template>

<script setup lang="ts">
import LayoutMainHeaderElements from "@/components/layouts/main/header/LayoutMainHeaderElements.vue";
</script>