<template>
  <RouterView/>
</template>

<script setup lang="ts">
import {onMounted} from "vue";
import {RouterView} from 'vue-router';
import {usItemsStore} from "@/stores/items";

const store = usItemsStore();
onMounted(() => {
  store.init();
});
</script>